html, body {
    height: 100%;
}
#container {
    display: grid;
}
#main {
    margin: 100px auto 100px auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}
#main div, a {
    margin: auto;
}
#home div {
    margin: auto;
}

#home {
    margin: 100px auto 0 auto;
    display: flex;
    width: 80%;
}

.welcome-image {
    border-radius: 50%;
    width: 300px;
    margin-right: 50px;
}

.page-title {
    margin-bottom: 35px;
}
#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
}
.card {
    border-radius: 5px;
}
.card-img-top {
     padding: 20px;
}
.card-body {
    background: #343a40;
    border-radius: 0 0 5px 5px;
}
.card-text {
    color: white;
    text-align: center;
}


@media screen and (max-width: 900px) {
    #home {
        flex-direction: column;
    }

    #home div {
        margin-top: 30px;
        text-align: center;
    }
    .card + .card {
        margin-left: inherit !important;
    }
    #cards {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}